.process-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5rem auto;
    color: #293241;
}

.process-content button {    
    border-radius: 6px;
    width: 15rem;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    padding: 1.1rem 2.8rem;
    color: #E0FBFC;
    background: #3d5a80;
    border: none;
    margin: 3rem auto;
}

.process-content button:hover {
    background: #293241;
}

.process-content a {
    margin: auto;
}

.process-title {
    text-align: center;
}

.process-step {
    font-size: 2.2rem;
}

.steps {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.steps p {
    font-size: 1.2rem;
}

.step-1,
.step-2,
.step-3 {
    width: 20rem;
    line-height: 1.7rem;
}

.steps li {
    font-size: 1.2rem;
    color: #3d5a80;
    font-weight: 600;
    list-style: none;
}

.steps li img{
    width: 2rem;
}

.steps ul {
    padding: 0;
}

@media (max-width: 700px) {
    .steps {
        flex-direction: column;
    }
}