.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}
  
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
  
.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 6px;
    max-width: 600px;
    padding: 1rem 2rem 2rem 3rem;
    color: #293241;
}
  
.modal-header {
    display: flex;
    justify-content: flex-end;
}
  
.modal-close-button {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
    color: #EE6C4D;
    cursor: pointer;
    border: none;
}

.guest-full ul {
    list-style: none;
    line-height: 1.7;
    font-size: 1.1rem;
    padding-left: 0.5rem;
}

.category-tag {
    background-color: #E0FBFC;
    width: 5rem;
    max-width: 10rem;
    border-radius: 20px;
    margin-right: 0.3rem;
    padding: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #293241;
    text-align: center;
}

.guest-full-category {
    display: flex;
}

.details-separator {
    margin: 1rem 0;
    border: 0.5px solid rgba(41, 50, 65, 0.1);
    width: 50%;
}