footer {
    width: 80%;
    height: 10rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 10rem;
}

footer p {
    color: #3d5a80;
    font-size: 0.8rem;
}

footer a,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: #3d5a80;
}

footer a:hover {
    text-decoration: none;
    color: #98c1d9;
}

hr {
    width: 80%;
    border: 0.5px solid #3d5a8046;
    margin-bottom: -5rem;
    margin-top: 5rem;
}

@media screen and (max-width: 765px) {
    footer {
        display: inline-block;
        padding: 1.5rem;
    }
    footer p, 
    h4{
        text-align: center;
    }
    .credits {
        text-align: center;
    }
    .footer-logo {
        text-align: center;
    }
  }