body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

button {
  background: inherit;
}

button:disabled {
  background: grey;
  cursor: default;
}

input:focus {
  border:none;
}

:root {
  --amplify-primary-color: #EE6C4D;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

